body{
    color: black;
    background: rgb(7, 0, 0);
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
    margin-bottom: 180px;
}
header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: blue;
}

.chamada{
    background: green;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}
categoria{
    background: rgb(0, 0, 0);
}