body{
    color: black;
    background: rgb(7, 0, 0);
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
    margin-bottom: 180px;
}
header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: rgb(104, 0, 136);
}

.chamada{
    background: green;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}
categoria{
    background: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid purple;
}
